* {
  box-sizing: border-box;
}

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  height: 110vh;
  background-size: cover;
}

#my_application {
  margin: 0 auto;
  font-weight: 600;
  padding: 1rem;
  width: 85%;
  
}

#my_card {
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  
  h1 {
    text-shadow: 2px 2px 5px red;
  }
}


#my_game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:60%;
  /* prevent breaking the box borders */
  /* min-width:605px; */
}

#difficulty_select {
  width: 40%;
  /* prevent text overlapping */
  min-width: 275px;
  margin: auto;
}

.box_easy {
  width: calc(100% / 10)
}

.box_medium {
  width: calc(100% / 9)
}

.box_hard {
  width: calc(100% / 7)
}

[class*="box"] {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-image: linear-gradient(#22c1c3, #fdbb2d) 30;
  border-width: 3px;
  border-style: solid;
  font-size: 1.2rem;
  text-shadow: 0 0 5px #ff0000de;
}

.azure {
  background-color: skyblue;
}