* {
  box-sizing: border-box;
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  height: 110vh;
  background-size: cover;
  font-family: 'Pixelify Sans', sans-serif !important;
}

#my_application {
  margin: 0 auto;
  font-weight: 600;
  padding: 1rem;
  width: 60%;
  min-width:450px;
}

#my_card {
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;

  h1 {
    text-shadow: 2px 2px 5px red;
  }
}

#my_game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 55%;
  min-width:350px;
}

#endgame_screen {
  
}

#did_you_win_son {
  font-size: 2rem;
}

#your_score {
  font-size: 1.4 rem;
}

#difficulty_select {
  width: 40%;
  min-width: 275px;
  margin: auto;
}

.box_easy {
  width: calc((100% / 10) - 1%);
}

.box_medium {
  width: calc((100% / 9) - 0.2rem)
} 

.box_hard {
  width: calc((100% / 7) - 0.2rem)
}

[class*="box"] {
  max-width: 90px;
  margin:1px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-image: linear-gradient(#22c1c3, #fdbb2d) 30;
  border-image-slice: 1;
  border-width: 2px;
  border-style: solid;
  font-size: 1.2rem;
  text-shadow: 0 0 4px #ff0000ad;

  i{
    font-size: 1.3rem;
  }
}

.azure {
  background: rgb(48, 193, 190, 70%);
  text-shadow: none;
}

/* shake quando perdi la partita */
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.5s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 1;
}

/* bounce per vari assets */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
#pixel_heart {
  width:25px;
  animation: bounce 1s infinite;
}

